/**/node_modules/
!/javascriptsource/**/node_modules/
/*.launch
/.classpath
/.mendix-cache/
/.project
/deployment/
/javasource/*/proxies/
/javasource/system/
/modeler-merge-marker
/nativemobile/builds
/packages/
/project-settings.user.json
/releases/
*.mpr.lock
*.mpr.bak
/vendorlib/temp/
.DS_Store
/monclub.mpr.bak
/monclub.mpr.lock
/nativemobile/builds/
pub-tiktok/source/frames/
pub-tiktok/source/preview/
pub-tiktok/source/node_modules/
video-recettes/source/frames/
video-recettes/source/preview/
video-recettes/source/node_modules
tutos-karine/source/frames/
tutos-karine/source/preview/
tutos-karine/source/node_modules
tutos-karine/source-video/a/v/
tutos-karine/source-video/frames/
tutos-karine/source-video/preview/
tutos-karine/source-menu/a/v/
tutos-karine/source-menu/frames/
tutos-karine/source-menu/preview/
tutos-karine/source-menu/node_modules
